@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

html{
  scroll-behavior: smooth;
}

body {
  font-weight: 500;
  color: #ffffff(0, 0, 0);
  background: #78a3eb;
 
}

/*----------------------------------------------------------HEADER DESIGN--------------------------------------------------------*/

header {
    display: flex;
    justify-content:space-between;
    align-items: center;
    padding: 1% 3%;
    background-color: #211951;
    box-shadow: 0px .125rem 10px #78a3eb(0, 0, 0, 0.1);
    position: fixed;
    top: 0;
    z-index: 3;
    width: 100%;
    border-bottom: 2px solid #ffffff;
    
  }
  .logo a {
    text-decoration: none;
    color: #ffffff;
    vertical-align: middle;
    display: inline-block;
    line-height: 500%;
  }
  .logo a:hover{
    color: #91b7f8;
    transition: 1s;
  }
  
  .container{
    clear:both;
    overflow:auto;
  }
  
  nav{float:right center;}
  
  .logo img{float:left;}
  
  
  nav {
    height: 3.75rem;
    background: #211951;
    display: flex;
    align-items: center;
  }
  nav ul {
    list-style: none;
    display: flex;
    justify-content: space-between;
  }
  nav ul li a {
    color: #fff;
    text-decoration: none;
    font-family: 'Times New Roman', Times, serif;
    font-size: 0.875em;
    font-weight: bold;
    margin: .125rem .5rem;
    padding: .25rem .5rem;
    letter-spacing: .0625rem;
    text-transform: uppercase;
    text-align: justify;
  }
  nav ul li a:hover {
    transition: width 1s;
    color: #fff; 
    border-bottom: .25rem solid #91b7f8;
  }
  
  /*---------------------------------------------------------RESPONSIVE DESIGN-------------------------------------------------------*/
  
  @media (max-width: 876px) {
  
    .logo a h1 {
      font-size: 1.375rem;
      margin: .25rem;
    }
  
    .logo a p {
      font-size: .8125rem;
      margin: .25rem;
    }
  
    nav ul {
      padding-top: 3.75rem;
      position: fixed;
      top: 0;
      left: 0;
      background: #211951;
      height: 100vh;
      width: 60%;
      display: none;
      text-align: center;
      z-index: 1;
    }
    
    nav ul li {
      margin-top: 3.125rem;
    }
  
    nav ul li a {
      font-size: 0.9rem;
    }
  
    .toggle-button {
  
      top: 1.5625rem;
      right: 1.5625rem;
      cursor: pointer;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      width: 1.5625rem;
      height: 1.25rem;
      z-index: 2;
    }
  
    .toggle-button .bar {
      height: .25rem;
      background-color: #808080;
      border-radius: .625rem;
    }
  
    .close-button {
      position: fixed;
      top: 1.5625rem;
      left: 1.25rem;
      cursor: pointer;
      display: none;
      border-radius: 50%;
      padding: 0rem .625rem;
      color: #24262b;
      background-color: #808080;
      z-index: 2;
  
    }
  
    .close-button:hover {
      color: #ffffff;
      ;
      background-color: #24262b;
  
    }
  
    .close-button::before {
      content: "\00D7";
      font-size: 1.75rem;
  
    }
  
  }

  @media (max-width: 1055px) {
  
    .logo a h1 {
      font-size: 1.1rem;
    }
  
    .logo a p {
      font-size: 0.9rem;
    }
    nav ul li a {
      font-size: 0.9rem;
    }
  
  }
  
  @media(max-width: 380px){
    .logo a h1 {
      font-size: 1rem;
    }
}

/*------------------------------------------------------------------REQUEST NOW PAGE--------------------------------------*/

.container {
  position: relative;
  max-width: 1100px;
  max-height: 400px;
  width: 100%;
  border-radius: 6px;
  padding: 30px;
  margin-top: 150px;
  margin-bottom: 150px;
  background-color: #fff;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  border-left: 50%;
  margin-left: 200px;
  z-index: 1;
}

.container header{
    position: relative;
    font-size: 20px;
    font-weight: 600;
    color: #ffffff;
}
.container header::before{
    content: "";
    position: absolute;
    left: 0;
    bottom: -2px;
    height: 3px;
    width: 27px;
    border-radius: 8px;
}
.container form{
    position: relative;
    margin-top: 16px;
    min-height: 490px;
    background-color: #fff;
    overflow: hidden;
}
.container form .form{
    position: absolute;
    background-color: #fff;
    transition: 0.3s ease;
}

form.secActive .form.first{
    opacity: 0;
    pointer-events: none;
    transform: translateX(-100%);
}
.container form .title{
    display: block;
    margin-bottom: 8px;
    font-size: 16px;
    font-weight: 500;
    margin: 6px 0;
    color: #333;
}
.container form .fields{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}
form .fields .input-field{
    display: flex;
    width: calc(100% / 3 - 15px);
    flex-direction: column;
    margin: 4px 0;
}
.input-field label{
    font-size: 12px;
    font-weight: 500;
    color: #2e2e2e;
}
.input-field input, select{
    outline: none;
    font-size: 14px;
    font-weight: 400;
    color: #333;
    border-radius: 5px;
    border: 1px solid #aaa;
    padding: 0 15px;
    height: 42px;
    margin: 8px 0;
}
.input-field input :focus,
.input-field select:focus{
    box-shadow: 0 3px 6px rgba(0,0,0,0.13);
}
.input-field select,
.input-field input[type="date"]{
    color: #707070;
}
.input-field input[type="date"]:valid{
    color: #333;
}
.container form button, .backBtn{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 45px;
    max-width: 200px;
    width: 100%;
    border: none;
    outline: none;
    color: #fff;
    border-radius: 5px;
    margin: 25px auto;
    background-color: #211951;
    transition: all 0.3s linear;
    cursor: pointer;
}
.container form .btnText{
    font-size: 14px;
    font-weight: 400;
}
form button:hover{
    background-color: #265df2;
}
form button i,
form .backBtn i{
    margin: 0 6px;
}
form .backBtn i{
    transform: rotate(180deg);
}
form .buttons{
    display: flex;
    align-items: center;
}
form .buttons button , .backBtn{
    margin-right: 14px;
}

.image {
  margin-top: 10px; 
  margin-bottom: 10px;
  text-align: center; 
}

.image img {
  max-width: 100%; 
}


@media (max-width: 750px) {
  .card {
    width: calc(100% - 20px); 
  }
}

@media (max-width: 750px) {
    .container form{
        overflow-y: scroll;
    }
    .container form::-webkit-scrollbar{
       display: none;
    }
    form .fields .input-field{
        width: calc(100% / 2 - 15px);
    }
}

@media (max-width: 550px) {
    form .fields .input-field{
        width: 100%;
    }
} 