@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800&display=swap");

/*----------------------------------------------------------HEADER DESIGN--------------------------------------------------------*/

header {
    display: flex;
    justify-content:space-between;
    align-items: center;
    padding: 1% 3%;
    background-color: #211951;
    box-shadow: 0px .125rem 10px #78a3eb(0, 0, 0, 0.1);
    position: fixed;
    top: 0;
    z-index: 3;
    width: 100%;
    border-bottom: 2px solid #ffffff; 
    
  }
  .logo a {
    text-decoration: none;
    color: #ffffff;
    vertical-align: middle;
    display: inline-block;
    line-height: 500%;
  }
  .logo a:hover{
    color: #91b7f8;
    transition: 1s;
  }
  
  .container{
    clear:both;
    overflow:auto;
  }
  
  nav{float:right center;}
  
  .logo img{float:left;}
  
  
  nav {
    height: 3.75rem;
    background: #211951;
    display: flex;
    align-items: center;
  }
  nav ul {
    list-style: none;
    display: flex;
    justify-content: space-between;
  }
  nav ul li a {
    color: #fff;
    text-decoration: none;
    font-family: 'Times New Roman', Times, serif;
    font-size: 0.875em;
    font-weight: bold;
    margin: .125rem .5rem;
    padding: .25rem .5rem;
    letter-spacing: .0625rem;
    text-transform: uppercase;
    text-align: justify;
  }
  nav ul li a:hover {
    transition: width 1s;
    color: #fff; 
    border-bottom: .25rem solid #91b7f8;
  }
  
  
  /*-------------------------------------------------RESPONSIVE DESIGN-----------------------------------------*/
  
  @media (max-width: 876px) {
  
    .logo a h1 {
      font-size: 1.375rem;
      margin: .25rem;
    }
  
    .logo a p {
      font-size: .8125rem;
      margin: .25rem;
    }
  
    nav ul {
      padding-top: 3.75rem;
      position: fixed;
      top: 0;
      left: 0;
      background: #211951;
      height: 100vh;
      width: 60%;
      display: none;
      text-align: center;
      z-index: 1;
    }
    
    nav ul li {
      margin-top: 3.125rem;
    }
  
    nav ul li a {
      font-size: 0.9rem;
    }
  
    .toggle-button {
  
      top: 1.5625rem;
      right: 1.5625rem;
      cursor: pointer;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      width: 1.5625rem;
      height: 1.25rem;
      z-index: 2;
    }
  
    .toggle-button .bar {
      height: .25rem;
      background-color: #808080;
      border-radius: .625rem;
    }
  
    .close-button {
      position: fixed;
      top: 1.5625rem;
      left: 1.25rem;
      cursor: pointer;
      display: none;
      border-radius: 50%;
      padding: 0rem .625rem;
      color: #24262b;
      background-color: #808080;
      z-index: 2;
  
    }
  
    .close-button:hover {
      color: #ffffff;
      ;
      background-color: #24262b;
  
    }
  
    .close-button::before {
      content: "\00D7";
      font-size: 1.75rem;
  
    }
  
  }
  
  @media (max-width: 1055px) {
  
    .logo a h1 {
      font-size: 1.1rem;
    }
  
    .logo a p {
      font-size: 0.9rem;
    }
    nav ul li a {
      font-size: 0.9rem;
    }
  
  }
  
  @media(max-width: 380px){
    .logo a h1 {
      font-size: 1rem;
    }
  
  }

  * {
    box-sizing: border-box;
  }
  
  body {
    font-family: "Poppins", sans-serif;
    background: #f6f5f7;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-weight: bold;
  }
  
  h1 {
    font-weight: bold;
    font-size: 28px;
    margin: 20px 0 0;
  }
  
  p {
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0.4px;
    margin: 8px 0 20px;
  }
  
  span {
    font-size: 14px;
  }
  
  a {
    color: #333;
    font-size: 14px;
    text-decoration: none;
    margin: 10px 0;
  }
  
  .container {
    background: whitesmoke;
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25),
      0 10px 10px rgba(0, 0, 0, 0.22);
    position: relative;
    overflow: hidden;
    margin-top: 150px;
    min-height: 480px;
    max-width: 100%;
    width: 768px;
    display: flex;
    justify-content: center;
    align-items: center; 
  }
  
  .form-container form {
    background: white;
    display: flex;
    flex-direction: column;
    padding: 0 50px;
    height: 100%;
    align-items: center;
    justify-content: center;
    text-align: center;
  }
  
  .social-container {
    margin: 10px 0;
  }
  
  .social-container a {
    border: 1px solid #ddd;
    border-radius: 50%;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    height: 40px;
    width: 40px;
    margin: 0 5px;
  }
  
  .form-container input {
    border: none;
    background: #ddd;
    padding: 8px 10px;
    margin: 4px 0;
    width: 100%;
  }
  
  button {
    border: 1px solid #ffffff;
    background: #211951;
    border-radius: 20px;
    font-size: 14px;
    font-weight: bold;
    text-transform: uppercase;
    margin: 10px 10px;
    padding: 8px 45px;
    letter-spacing: 1px;
    color: #f6f5f7;
    transition: transform 80ms ease-in;
  }
  
  button:active {
    transform: scale(0.95);
  }
  
  button.gost {
    background: transparent;
    border-color: white;
  }
  
  .form-container {
    position: absolute;
    top: 0;
    height: 100%;
    transition: all 0.6s ease-in-out;
  }
  
  .sign-in-container {
    left: 0;
    width: 50%;
    z-index: 2;
  }
  
  .sign-up-container {
    left: 0;
    width: 50%;
    z-index: 1;
    opacity: 0;
  }
  
  .overlay-container {
    position: absolute;
    top: 0;
    left: 50%;
    width: 50%;
    height: 100%;
    overflow: hidden;
    transition: transform 0.6s ease-in-out;
    z-index: 100;
  }
  
  nav ul li a.active {
    color: #000;
}

nav ul li a.active:after {
    content: '';
    position: absolute;
    bottom: -5px; 
    left: 50%;
    transform: translateX(-50%);
    width: 10px;
    height: 10px;
    background-color: #000; 
    border-radius: 50%;
}

nav ul li a:hover:after {
    background-color: transparent;
}
nav ul li a.active {
  color: #000;
}

nav ul li a.active:after {
  content: '';
  position: absolute;
  bottom: -5px; 
  left: 50%;
  transform: translateX(-50%);
  width: 10px;
  height: 10px;
  background-color: #000; 
  border-radius: 50%;
}

nav ul li a:hover:after {
  background-color: transparent;
}
nav ul li a.active {
  color: #000;
}

nav ul li a.active:after {
  content: '';
  position: absolute;
  bottom: -5px; 
  left: 50%;
  transform: translateX(-50%);
  width: 10px;
  height: 10px;
  background-color: #000;
  border-radius: 50%;
}

nav ul li a:hover:after {
  background-color: transparent;
}

  .overlay {
    background: linear-gradient(to right, #144993, #3d71d3, #5e99f9 );
    background-size: cover;
    background-repeat: no-repeat;
    color: #000;
    position: absolute;
    left: -100%;
    height: 100%;
    width: 200%;
    transform: translateX(0%);
    transition: transform 0.6s ease-in-out;
  }
  
  .overlay-panel {
    position: absolute;
    top: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0 40px;
    height: 100%;
    width: 50%;
    text-align: center;
    transform: translateX(0%);
    transition: transform 0.6s ease-in-out;
  }
  
  .overlay-right {
    right: 0;
    transform: translateX(0%);
  }
  
  .overlay-left {
    transform: translateX(-20%);
  }
  
  .right-panel-active .sign-in-container {
    transform: translateX(100%);
  }
  
  .right-panel-active .overlay-container {
    transform: translateX(-100%);
  }
  
  .right-panel-active .sign-up-container {
    transform: translateX(100%);
    opacity: 1;
    z-index: 5;
  }
  
  .right-panel-active .overlay {
    transform: translateX(50%);
  }
  
  .right-panel-active .overlay-left {
    transform: translateX(0%);
  }
  