@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}


html{
  scroll-behavior: smooth;
}


body {
  font-weight: 500;
  color: #ffffff(0, 0, 0);
  background: #78a3eb;
 
}


/*-------------------------------------------- MAIN PAGE---------------------------------------------------------------*/
.main {
  display: flex;
  width: 100%;
  height: 100vh;
  flex-direction: column;
  justify-content: center;
  padding: 1.3rem;
}


.slide-bg {
  width: 100%;
  height: 100vh;
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: linear-gradient(rgba(68, 68, 65, 0.763),rgba(0, 30, 48, 0.834)), url('../images/school.png');
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%); 
}


.main-text-container {
  text-align: center;
  position: absolute;
  left: 0;
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
  justify-content: center;
  color: #ffffff;
  padding: 2% 2%;
}


.main-text-container h1 {
  font-family: 'Times New Roman', Times, serif;
  font-size: 1.8rem;
  font-style: italic;
  text-transform: uppercase;
  letter-spacing: 0.1em;
}




.main-text-container .btn {
  border: none;
  outline: 0;
  display: inline-block;
  padding: .625rem 1.25rem;
  color: #24262b;
  background-color: #ffffff;
  text-align: center;
  cursor: pointer;
  margin: .625rem .25rem;
  text-decoration: none;
  border-radius: 1rem;
  font-size: 0.7rem;
  text-transform: uppercase;
  letter-spacing: 0.08em;
  font-weight: 900;
}


.main-text-container .btn:hover {
  background-color: #211951;
  color: rgb(255, 255, 255);
  transition: 1.5s;
}


/*--------------------------------RESPONSIVE DESIGN FOR MAIN PAGE-----------------------------------------------------*/


@media (max-width: 362px) {
  .main {
    padding: .75rem;
  }


  .main-text-container h1 {
    font-size: 0.9rem;
  }


  .main-text-container p {
    font-size: 0.7rem;
  }


}


/*------------------------------------------------------HOME PAGE--------------------------------------------------------------*/
.section {
  margin: 50px auto;
  padding: 0;
}


.home {
  text-align: center;
}


.home .home-info h1 {
  font-family: 'Times New Roman', Times, serif;
  font-size: 40px;
  letter-spacing: 2px;
  text-align: center;
  vertical-align: text-top middle;
}


.home .home-info p {
  font-family: 'Poppins,sans-serif';
  font-size: 20px;
  letter-spacing: 1px;
  text-align: center;


}


.home-img .grid {
  display: flex; 
  justify-content: center; 
  align-items: center; 
  gap: 20px; 
  background: none;
  overflow-x: hidden; 
  margin-bottom: 0px;
  padding: 20px;


}


.home-img .grid__figure {
  list-style: none;
  background: none; 
}


.home-img .grid__figure img {
  max-width: 100%;
  background: none;
}


.btn {
  font-family: 'Tahoma, san-serif';
  display: inline;
  padding: 10px;
  color: #ffffff;
  background-color: #211951;
  text-align: center;
  cursor: pointer;
  text-decoration: none;
  border-radius: 1rem;
  font-size: 0.7rem;
  text-transform: uppercase;
  font-weight: 500;
  padding: 8px;
  margin-bottom: 0px;
  margin-top: 0px;
}


.btn:hover {
  background-color: #ffffff;
  color: rgb(21, 20, 20);
  transition: 1.5s;
}




/*--------------------------------RESPONSIVE DESIGN FOR HOME PAGE-----------------------------------------------------*/


@media only screen and (min-width: 768px) {
  .home-img .grid {
    gap: 20px; 
    grid-auto-flow: initial;
    grid-template-columns: repeat(auto-fit, minmax(auto, 20em));
    justify-content: center;
  }
}

.home-img .grid__figure {
  display: grid;
  grid-template-rows: 15em 1fr;
  grid-gap: 1em;
}

.home-img .grid__figure img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}

/*----------------------------------------------------------UNIBOOKS PAGE----------------------------------------------------------------------*/

.section {
  margin: 50px auto;
  padding: 0;
}


.unibook {
  text-align: center;
}


.unibook h1 {
  text-align: center;
  margin: 1.25rem;
  padding: .9375rem;
  text-transform: uppercase;
}


.unibook {
  text-align: center;
  margin: 1.25rem;
  border-top: 2px solid #ffffff;
}


.unibook .unibook-info h1 {
  font-family: 'Times New Roman', Times, serif;
  font-size: 40px;
  letter-spacing: 2px;
  text-align: center;
  vertical-align: text-top middle;
}


.unibook .unibook-info p {
  font-family: 'Poppins ,sans-serif';
  font-size: 20px;
  letter-spacing: 1px;
  text-align: center;


}

.unibook-img .grid {
  display: flex; 
  justify-content: center; 
  align-items: center;
  gap: 20px; 
  background: none;
  overflow-x: hidden; 
  margin-bottom: 0px;
  padding: 20px;


}

.unibook-img .grid__figure {
  list-style: none;
  background: none; 
}

.unibook-img .grid__figure img {
  max-width: 100%;
  background: none; 
}




/*---------------------------------------------RESPONSIVE DESIGN FOR UNIBOOK PAGE-----------------------------------------------------*/


@media only screen and (min-width: 768px) {
  .unibook-img .grid {
    gap: 20px;
    grid-auto-flow: initial;
    grid-template-columns: repeat(auto-fit, minmax(auto, 20em));
    justify-content: center;
  }
}

.grid__figure {
  display: grid;
  grid-template-rows: 15em 1fr;
  grid-gap: 1em;
}


.grid__figure img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
