@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800&display=swap");

* {
    margin: 0 ;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
  }
  
  html{
    scroll-behavior: smooth;
  }
  
  body {
    font-weight: 500;
    color: #ffffff(0, 0, 0);
    background: #78a3eb;
   
  }

  /*----------------------------------------------------------HEADER DESIGN-------------------------------------------------------*/

header {
    display: flex;
    justify-content:space-between;
    align-items: center;
    padding: 1% 3%;
    background-color: #211951;
    box-shadow: 0px .125rem 10px #78a3eb(0, 0, 0, 0.1);
    position: fixed;
    top: 0;
    z-index: 3;
    width: 100%;
    border-bottom: 2px solid #ffffff; 
    
  }
  .logo a {
    text-decoration: none;
    color: #ffffff;
    vertical-align: middle;
    display: inline-block;
    line-height: 500%;
  }
  .logo a:hover{
    color: #91b7f8;
    transition: 1s;
  }
  
  .container{
    clear:both;
    overflow:auto;
  }
  
  nav{float:right center;}
  
  .logo img{float:left;}
  
  
  nav {
    height: 3.75rem;
    background: #211951;
    display: flex;
    align-items: center;
  }
  nav ul {
    list-style: none;
    display: flex;
    justify-content: space-between;
  }
  nav ul li a {
    color: #fff;
    text-decoration: none;
    font-family: 'Times New Roman', Times, serif;
    font-size: 0.875em;
    font-weight: bold;
    margin: .125rem .5rem;
    padding: .25rem .5rem;
    letter-spacing: .0625rem;
    text-transform: uppercase;
    text-align: justify;
  }
  nav ul li a:hover {
    transition: width 1s;
    color: #fff; 
    border-bottom: .25rem solid #91b7f8;
  }
  
  /*-------------------------------------------------RESPONSIVE DESIGN-----------------------------------------*/
  
  @media (max-width: 876px) {
  
    .logo a h1 {
      font-size: 1.375rem;
      margin: .25rem;
    }
  
    .logo a p {
      font-size: .8125rem;
      margin: .25rem;
    }
  
    nav ul {
      padding-top: 3.75rem;
      position: fixed;
      top: 0;
      left: 0;
      background: #211951;
      height: 100vh;
      width: 60%;
      display: none;
      text-align: center;
      z-index: 1;
    }
    
    nav ul li {
      margin-top: 3.125rem;
    }
  
    nav ul li a {
      font-size: 0.9rem;
    }
  
    .toggle-button {
  
      top: 1.5625rem;
      right: 1.5625rem;
      cursor: pointer;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      width: 1.5625rem;
      height: 1.25rem;
      z-index: 2;
    }
  
    .toggle-button .bar {
      height: .25rem;
      background-color: #808080;
      border-radius: .625rem;
    }
  
    .close-button {
      position: fixed;
      top: 1.5625rem;
      left: 1.25rem;
      cursor: pointer;
      display: none;
      border-radius: 50%;
      padding: 0rem .625rem;
      color: #24262b;
      background-color: #808080;
      z-index: 2;
  
    }
  
    .close-button:hover {
      color: #ffffff;
      ;
      background-color: #24262b;
  
    }
  
    .close-button::before {
      content: "\00D7";
      font-size: 1.75rem;
  
    }
  
  }

  @media (max-width: 1055px) {
  
    .logo a h1 {
      font-size: 1.1rem;
    }
  
    .logo a p {
      font-size: 0.9rem;
    }
    nav ul li a {
      font-size: 0.9rem;
    }
  
  }
  
  @media(max-width: 380px){
    .logo a h1 {
      font-size: 1rem;
    }
  
  }


/* ----------------------------------------------------------------------BOOKS PAGE ---------------------------------------------------- */

div .books {
  width: 100%;
  min-height: 600px;
  padding: 10px 50px;
  margin-top: 20px;

}

.heading {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between; 
  margin-bottom: 20px; 
}

.heading h1 {
  font-size: 36px; 
  color: #333;
}

.book-row {
  display: flex;
  justify-content: center;
  align-items: flex-start; 
  margin-top: 10%; 
  flex-wrap: wrap;
}

.book-col {
  flex-basis: 20%;
  padding: 10px;
  margin: 5px 10px;
  text-align: center;
}

.images {
  width: 300px;
  height: 300px;
  overflow: hidden;
}

.images img {
  width: 80%;
  height: 100%;
}

.book-col .info {
  margin: 10px;
}

.info h3 {
  margin-bottom: 10px;
  font-size: 20px;
}

.info p {
  text-align: justify;
  font-size: 15px;
  margin-bottom: 10px;
}

.info .btnn {
  text-decoration: none;
  border: none;
  color: white;
  outline: none;
  padding: 10px 20px;
  background-color: #211951;
  border-radius: 8px;
  font-size: 20px;
  cursor: pointer;
  margin-top: 5px;
}

.info .btnn:hover {
  color: #000;
  background-color: #78a3eb;
  border: 1px solid #000;
}
